<section class="product-full-details-container">
    <span><strong>Product-Name</strong> Product - Info </span>
    <div><strong>₹ 123</strong></div>
    <hr class="separator">

    <div><strong>Size</strong> </div>
    <div class="chip-section">
        <div class="chip">Chip 1</div>
        <div class="chip">Chip 2</div>
        <div class="chip">Chip 3</div>
    </div>
    <hr class="separator">

    <div><strong>Size Information</strong></div>
    <hr class="separator">

    <div><strong>Material Care</strong></div>
    <hr class="separator">
    <div><strong>Product Information</strong></div>
</section>