<section class="home-container">
    <section class="category">
        <div class="card" (click)="setCategory('boy')">
            <div class="image">
                <img src="images/boy.jpg" alt="boy">
            </div>
            <div class="info">
                <h4>Boy</h4>
            </div>
        </div>
        <div class="card" (click)="setCategory('girl')">
            <div class="image">
                <img src="images/girl.jpg" alt="girl">
            </div>
            <div class="info">
                <h4>Girl</h4>
            </div>
        </div>
        <div class="card" (click)="setCategory('infant')">
            <div class="image">
                <img src="images/baby.jpg" alt="infant">
            </div>
            <div class="info">
                <h4>Infant</h4>
            </div>
        </div>
    </section>
    <section><app-contact-us></app-contact-us></section>
</section>